body{
    background-image: url(img.jpg);
    background-size: 100%;
}

#kick {
    position: absolute;
    background-color: #111a21;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    opacity: 0.8;
    top: 350px;
    left: 430px;
}

#k {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
    margin: 60px 150px 60px 150px;
    padding: 15px;
}

#ride {
    position: absolute;
    background-color: #edba53;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    opacity: 0.6;
    border-color: #4a4742;
    border-style: solid;
    top: 230px;
    left: 800px;

}

#p {
    text-align: center;
    font-size: 30px;
}