@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

body{
    background-image: url(img.jpg);
    background-size: 100%;
    font-family: Asap, sans-serif;
}

#kick {
    position: absolute;
    background-color: #111a21;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    opacity: 0.8;
    top: 350px;
    left: 430px;
}

#k {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
    margin: 60px 150px 60px 150px;
    padding: 15px;
    
}

#ride {
    position: absolute;
    background-color: #edba53;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    opacity: 0.6;
    border-color: #4a4742;
    border-style: solid;
    top: 230px;
    left: 800px;

}

#p {
    text-align: center;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
    padding: 15px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 25px;
    
}

#tom {
    position: absolute;
    background-color: #ebdbc3;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-color: #4f1e05;
    border-width: 3px;
    border-style: solid;
    top:200px;
    left: 650px;
    opacity: 0.75;
    
}

#d {
    text-align: center;
    font-size: 20px;
    color: #29302a;
    border-radius: 10px;
    border-color: #131413;
    border-style: solid;
    padding: 14px;
    margin: 35px 35px 20px 35px;
}

#snare {
    position: absolute;
    background-color: #eff0dd;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border-color: #210d09;
    border-width: 3px;
    border-style: solid;
    opacity: 0.75;
    top: 170px;
    left: 450px;
}

#s {
    text-align: center;
    font-size: 23px;
    color: #29281f;
    border-radius: 10px;
    border-color: #131413;
    border-style: solid;
    padding: 14px;
    margin: 45px 35px 20px 35px;
}

#hi-hat {
    position: absolute;
    background-color: #edba53;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0.7;
    border-color: #141414;
    border-style: solid;
    top: 250px;
    left: 300px;
}

#o {
    text-align: center;
    font-size: 20px;
    color: #29281f;
    border-radius: 10px;
    border-color: #131413;
    border-style: solid;
    padding: 10px;
    margin: 35px 35px 35px 35px;
}